* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Inicio Header */

header {
    background-color: #FFF4E6;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
    position: fixed;
    top: 0;
    z-index: 9;
    
}

/* Logo */

.popplio img {
    width: 100px;
    height: auto;
    display: block;
}

/* Menu */

.brionne {
    display: flex;
    align-items: center;
}

.primarina {
    display: flex;
    align-items: center;
    list-style: none;
}

.primarina a {
    text-decoration: none;
    color: #5DADE2;
    padding: 20px;
}

.primarina a:hover {
    color: #5DADE2;
}

/* Fim do Header */
/*inicio Main*/

.litten{
    width: 100%;
background-color:#E8D5BE;
height: calc(100vh - 80px);
background-size: cover;
background-position: center;
display: flex;
align-items: center;
padding-left: 10%;
}

.litten h1{
    color: #795548;
    font-size: 54px;
}
.litten p{
font-size: 24px;
font-style: italic;
color: #5DADE2;
margin-top: 10px;
margin-bottom: 35px;
}
.torracat{
    display: inline-block;
    background-color: #795548;
    color: #FFFFFF;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}
.torracat:hover {
    background-color:#5dade2;
    color:#ffffff;
}

/* Agendamento */

.Incineroar {
    background-color: #E8D5BE;
    padding: 60px 10%;
    text-align: center;
}

.Incineroar h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

form {
    width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

form label {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,form select {
    padding: 10px;
    border: 1px solid #A67C65;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #4F8191;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
