* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Inicio Header */

header {
    background-color: #FFF4E6;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
    position: fixed;
    top: 0;
    z-index: 9;
    
}

/* Logo */

.popplio img {
    width: 100px;
    height: auto;
    display: block;
}

/* Menu */

.brionne {
    display: flex;
    align-items: center;
}

.primarina {
    display: flex;
    align-items: center;
    list-style: none;
}

.primarina a {
    text-decoration: none;
    color: #5DADE2;
    padding: 20px;
}

.primarina a:hover {
    color: #5DADE2;
}

/* Fim do Header */

.nihilego{
    width: 100%;
    background-color:#E8D5BE;
    height: calc(100vh - 80px);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 10%;
     justify-content: space-between;
     
        }
.steene{
    width: 880px;
    height: 350px;
    padding: 24px;
    border: 2px solid #795548;
    border-radius: 12px;
    background-color: #5DADE2;
}
.steene h1{
   color: #4d2d21;
   font-size: 51px;
}
.steene p{
    color:#2e1c04;
    font-size: 25px;
}
.nihilego img{
    max-width: 600px;
    border-radius: 75px;
    box-shadow: 9px 9px 18px #795548;
}

.cosmog{
    background-color:#8B5E3C ;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cosmoem{
    width: 500px;
    min-height: 350px;
    padding: 25px;
    background-color: #fff4e6;
    border-radius: 20px;
    box-shadow: 0 5px 15px #00000020;
    box-sizing: border-box;
    display: flex;
    flex-direction: column
    
}
.cosmog h1{
    color: #352019;
    font-size: 45px;
}
.cosmog h1 span{
    color: #5DADE2;
}

.cosmoem ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}
.cosmoem ul li {
    background-color: #FFF4E6;
    color: #5D4037;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-size: 25px;
}
.cosmoem h1 {
    color:#4A1515 ;
    font-size: 45px;
}
.lunala{
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
}