* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3dfc5;
}

html {
    scroll-behavior: smooth;
}


/* HEADER */

header {
    background-color: #FFF4E6;
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 28px;

    position: fixed;
    top: 0;
    z-index: 9;
}

.popplio img {
    width: 100px;
    height: auto;
    display: block;
}

.brionne {
    display: flex;
    align-items: center;
}

.primarina {
    display: flex;
    align-items: center;
    list-style: none;
}

.primarina a {
    text-decoration: none;
    color: #5DADE2;
    padding: 20px;
}

.primarina a:hover {
    color: #5DADE2;
}


.kyogre {
    width: 100%;
    padding: 140px 30px 40px;
}

.kyogre h2 {
    text-align: center;
    font-size: 34px;
    color: #5a321f;
    margin-bottom: 35px;
}


.groudon {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}


.rayquaza {
    width: 210px;
    height: 350px;
    flex-shrink: 0;

    background-color: #FFF4E6;

    padding: 15px;

    border-radius: 18px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 5px 15px #00000020;
}


.rayquaza img {
    width: 100%;
    height: 160px;

    object-fit: contain;

    margin-bottom: 12px;
}

.rayquaza h3 {
    font-size: 18px;
    color: #5a321f;

    margin-bottom: 8px;
}

.rayquaza p {
    font-size: 13px;
    color: #795548;
    line-height: 1.4;
    margin-bottom: auto;
}
.rayquaza span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #8b4513;
    margin-top: 10px;
}

.rayquaza:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px #00000025;
}

hr {
    border: none;
    height: 2px;
    background-color: #8b5e3c;
    margin: 20px 40px;
}

.rayquaza button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    background-color: #8b5e3c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.rayquaza button:hover {
    background-color: #5a321f;
}