* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Inicio Header */

header {
    background-color: #FFF4E6;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
    position: fixed;
    top: 0;
    z-index: 9;
}

/* Logo */

.popplio img {
    width: 100px;
    height: auto;
    display: block;
}

/* Menu */

.brionne {
    display: flex;
    align-items: center;
}

.primarina {
    display: flex;
    align-items: center;
    list-style: none;
}

.primarina a {
    text-decoration: none;
    color: #5DADE2;
    padding: 20px;
}

.primarina a:hover {
    color: #5DADE2;
}

/* Fim do Header */

/* Inicio do Main*/
.Rowlet{
    width: 100%;
background-color: #000;
height: calc(100vh - 80px);
background-image: url("convivencia-capa.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
padding-left: 10%;
}

.Rowlet h1{
    color: #8B5E3C;
    font-size: 54px;
}
.Rowlet p{
font-size: 24px;
font-style: italic;
color: #5DADE2;
margin-top: 10px;
margin-bottom: 35px;
}

/* Fim do Main*/

/*inicio do sobre*/
.Dartrix{
    background-color:#8B5E3C ;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Dartrix div{
    max-width: 50%;
    padding-right: 40px;

}

.Dartrix img{
    max-width: 750px;
    border-radius: 9px;
    box-shadow: 9px 9px 18px #FFF4E6;
    
}

.Dartrix div h2{
    font-size: 42px;
    margin-bottom: 24px;
    color: #5DADE2;
}

.Dartrix p{
    color: #ffe4c1;
    font-size: 20px;
}
/* Fim do sobre"

/* Inicio do Rodape*/
.Decidueye {
    width: 100%;
    background-color:#f3cf9f;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#5DADE2;
}

.Decidueye a {
    text-decoration: none;
    color:#5DADE2;
}

.Decidueye p {
    margin-left: 12px;

}
/*Fim do Rodape*/
